<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div>
    {% if messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% for message in messages %}
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {% endfor %}
    </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label>Username : </label>
        <input type="text" name="username" required placeholder="Username">
        <br>
        <br>
        <label>Password : </label>
        <input type="password" name="pass" required placeholder="Password">
        <br>
        <br>
        <button type="submit" value="submit">SignUp</button>
        <br>
    </form>
    <br>
    <a href="/">
        <button type="submit">Back</button>
    </a>
</div>

</body>
</html>