{% extends 'base.html' %}
{% block content %}

<br>
<div class="container-sm text-center"> <h1>TO DO</h1></div>
<br>

<div class="container-sm">
<h6>To-do lists offer a way to increase productivity, stopping you from forgetting things, helps prioritise tasks, manage tasks effectively, use time wisely and improve time management as well as workflow.</h6>
    </div>
<br>
<br>
<div class="container-sm">
    <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
     <a href="add/" ><button  type="button" class="btn btn-outline-primary">Add</button></a>
     <a href="details/" ><button type="button" class="btn btn-outline-primary mx-3">Shows Details</button></a>
    </div>
</div>

{% endblock %}