{% extends 'base.html' %}
{% block content %}

<br>
<h1 class="display-3 text-center">Edit</h1>
<br>

<div class='container d-flex justify-content-around'>
<form  action="/updaterecord/{{d.id}}" method="post">

    {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">First Name</label>
    <input name="fname" type="text" value="{{d.fname}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name">
  </div>

     <div class="form-group">
    <label for="exampleInputEmail1">Last Name</label>
    <input name="lname" type="text" value="{{d.lname}}" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter Last Name">
  </div>

     <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input name="email" type="text" value="{{d.email}}" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp" placeholder="Enter Email">
    <small id="emailHelp2" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
</div>

{% endblock %}